.team {
  background: rgba(245, 244, 250, 1);

  h2 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
  }
}

.team-items-flex {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.team-members {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team-wrap {
  width: 100%;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.social-list {
  display: flex;
  justify-content: center;
  // width: 206px;
  height: 44px;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
  // margin-left: 32px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
